certifi==2018.11.29
chardet==3.0.4
ibm-db==2.0.9
idna==2.8
natsort==5.5.0
Pillow==6.2.0
pip==18.1
py3270==0.3.5
PyAutoGUI==0.9.38
Pygments==2.3.0
pymongo==3.7.2
PyMsgBox==1.0.6
pyodbc==4.0.24
Pypubsub==4.0.0
PyScreeze==0.1.18
PyTweening==1.0.3
requests==2.21.0
selenium==3.141.0
setuptools==28.8.0
six==1.11.0
typing==3.6.6
urllib3==1.24
xlrd==1.1.0
xlutils==2.0.0
xlwt==1.3.0
